.containerBubbles {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bubbles {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.ProjectCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    margin-top: 50px;
}