.footer {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 80px;
}

.footer h4 {
    font-weight: 400;
}