@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
  margin: 0;
  padding: 0;
  background-image: url('./img/Background.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
